# ==============================
# Application
# ==============================

APP_NAME=Intelligent File Deduplication & Storage Optimization System
APP_VERSION=1.0.0
DEBUG=True


# ==============================
# Database
# ==============================

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=file_dedup_db
MYSQL_USER=file_dedup_user
MYSQL_PASSWORD=your_password
MYSQL_ROOT_PASSWORD=your_root_password

DATABASE_URL=mysql+pymysql://file_dedup_user:your_password@mysql:3306/file_dedup_db


# ==============================
# Redis
# ==============================

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://redis:6379/0
REDIS_CACHE_TTL=300

# ==============================
# Celery
# ==============================

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# ==============================
# JWT
# ==============================

JWT_SECRET_KEY=change-this-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

# ==============================
# File Upload
# ==============================

MAX_FILE_SIZE=92274688
