fastapi
uvicorn[standard]

sqlalchemy
alembic
pymysql

pydantic-settings
python-dotenv
python-multipart

redis
celery

pwdlib[argon2]
python-jose[cryptography]
email-validator

pytest
httpx
pytest-asyncio
pytest-cov>=5.0